body {
    background-color: #f2e9e4;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #9a8c98;
    padding: 20px;
}
a.navi:hover {
    background-color: #c9ada7;
    padding: 20px;
}
a.navi:visited {
    color: black;
}
a.navi {
    text-decoration: none;
    padding: 20px;
}
a#logo {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50px;
}
a#logo:visited {
    color: black;
}